
<!DOCTYPE html>
<html lang="en">
<head>
    {{! Document Layout}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cebal</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css"/>
    <link rel="stylesheet" href="/public/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/public/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/public/css/datatables.min.css">
    <link rel="stylesheet" href="/public/css/sweetalert2.css">
    <link rel="stylesheet" href="/public/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/public/css/select2.min.css">
    <link rel="stylesheet" href="/public/css/toastr.min.css">
    <link rel="stylesheet" href="/public/css/daterangepicker.css">

    <!--Aqui van todos los css-->
    <style>
    body {
         font-size: 0.9rem;
         background-color: #f5f4f4;
         
    }
    .navbar {
        padding: 0.1rem 4rem;
    }
    .bg-dark {
        background-color: rgba(0,0,0,0.8)!important;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 15px !important;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: #ccc;
}
    .navbar-nav .nav-item .nav-link:hover {
        color:#2980b9 !important;
    }
    .navbar-nav .active a {
        color:#3498db !important;
    }
    #container {
            margin-top:100px;
        }
    </style>
    {{#block "css"}}
   
    {{/block}}
</head>
<body >
    <div class="container-fluid" style="margin-bottom:60px;">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <!--  <li class="nav-item">
                            <img src="/public/img/logoB.png" width="100px" style="margin-top:3px;margin-left:-10px;margin-right:40px">
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home</a>
                        </li>
                  
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Alumnos</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/joined"><i class="fas fa-user"></i> Ingreso alumnos</a>
                            <a class="dropdown-item" href="/enrolled"><i class="fas fa-clipboard-list"></i> Alumnos matriculados</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-money-check-alt"></i> Finanzas</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Estado de pagos</a>
                              <a class="dropdown-item" href="#">Boletas</a>
                              <a class="dropdown-item" href="#">Estado cursos</a>
                              <a class="dropdown-item" href="#">Firma de contratos</a>
                            </div>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-graduation-cap"></i> Cursos</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/listStudents">Listado de alumnos</a>
                              <a class="dropdown-item" href="/courses">Cursos</a>
                              <a class="dropdown-item" href="#">Puntajes</a>
                              <a class="dropdown-item" href="#">Asistencia</a>
                            </div>
                    </li>
                </div>
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    {{#if admin}}
                        <li class="nav-item dropdown">
                            <li class="nav-item">
                                <a class="nav-link active" id="administration"  href="/administrationPanel"><i class="fas fa-toolbox"></i> Administración</a>
                            </li>
                        </li>
                    
                        <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav-link" href="/logs"><i class="fas fa-list-ul"></i> Logs</a>
                            </li>
                        </li>  
                    {{/if}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> {{{ credentials.name }}} {{{credentials.lastname }}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/logout"><i style="color:#e74c3c;" class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                        </div>   
                    </li>
                </ul>         
        </nav>
    </div>


    {{{ content }}}

<script src="/public/js/jquery-1.12.4.min.js"></script>
<script src="/public/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/datatables.min.js"></script>
<script src="/public/js/sweetalert2.js"></script>
<script src="/public/DataTables/datatables.min.js"></script>
<script src="/public/js/jquery.rut.min.js"></script>
<script src="/public/js/select2.min.js"></script>
<script src="/public/js/toastr.min.js"></script>
<script src="/public/js/jspdf.min.js"> </script>
<script src="/public/js/moment.js"></script>
<script src="/public/js/html2canvas.min.js"></script>
<script src="/public/js/daterangepicker.js"></script>

<script>
    moment.locale('es');
    let idleTimer = 0;

    $(document).ready(function() {
        let idleInterval = setInterval(timerIncrement, 60000);

        $(this).mousemove(function(e) {
            idleTimer = 0;
        });

        $(this).keypress(function(e) {
            idleTimer = 0;
        });
        
    });

    const timerIncrement = () => {
        idleTimer++;
        if (idleTimer == 10) { // 10 minutos
            ajax({
                url: 'logout'
            })
            setTimeout(function() {
                location.reload();
            },1000)
        } 
    }

    const ajax = ({type, url, data}) => {
        return new Promise((resolve, reject)=>{
            let options = {
                url
            };
            if(!type){
                options.type = 'GET';
            } else {
                options.type = type;
            }

            if(data) options.data = data;

            $.ajax(options)
            .done((result) => {
                resolve(result);
            })
            .fail(() => {
                reject({error: 'ERROR IN --> '+url+' <--'});
            });
        });
    };

    const createLog = ({form, action, extra, type}) => {
        //console.log(desc,form,String(extra))
        return new Promise(resolve=>{
            ajax({ 
                url:'/api/log',
                type: 'POST', 
                data: {action: action, form: form, extra: String(extra), type: type} 
            }).then(data=>{
                resolve(data);
            })
        })
        
    }

    const screenLog = ({id, form, action, extra, type}) => {
        html2canvas(document.querySelector("#"+id)).then(function(canvas) {
            createLog({
                form: form,
                action: action,
                extra: extra,
                type: type
            }).then(data=>{
                let canvasToImg = canvas.toDataURL('image/jpeg');
                let formatId1 = data.id.replace(/:/g, 'Q');
                
                ajax({
                    url: "/api/tools/uploadImgLog", // Url to which the request is send
                    type: "POST",             // Type of request to be send, called as method
                    data: {id: formatId1, img:canvasToImg}
                }).then(res=>{
                    console.log(res)  
                })
            });
        });
    }

    const isEmail = (email) => {
		let regexEmail = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		return regexEmail.test(email);
    }
    
    const cleanRut = (rut) => {
        var replace1 = rut.split('.').join('');
        var replace2 = replace1.replace('-', '');
        return replace2;
    }

    const rutFunc = (rut) => {
        return $.formatRut(rut)
    }

</script>



{{#block "js"}}
{{/block}}
    
</body>
</html>